.create{
  background: url(../img/board.jpg)
  no-repeat; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-size:  100%; }

.home{
  background: url(../img/pantry5.png)
  no-repeat; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-size:  100%; }

.login{
  background: url(../img/pantry5.png)
  no-repeat; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-size:  100%; }

.App {
  text-align: center;
}

.pantry {
  background: url(../img/board.jpg)
  no-repeat; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-size:  100%;
}

.search {
  margin-left: 38%;
}

.form-label {
  color: white;
  text-align: center;
  margin-left: 37%
}

#fluid{
  margin-top: 30px;
  background: url(../img/leftShelfChef.png);
  background-size: 100%;
  background-color: #282c34;
  height: 400px;
  width: 60%;
  margin: 0% auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}


#formBasicEmail{
  background: white;
  width: 350px;
  margin: auto;
}

.buttons{
  width: 350px;
  margin: auto;

}
#button {
  margin-right: 2%;
}
.NavButton{
  size: 100px;
  color: black;
}

.text-muted{
  color: white;
}

.form-control {
  background: white;
  width: 350px;
  margin: auto;
  
}
.img{
  content: url(../img/wrappedlogo.png);
  width: 50%;
  left: 0%;
  background-color: transparent;
  position: fixed;
  margin-top: 5%;
}
.homeContainer{
  position: fixed;
  right: 0%;
  width: 50%;
  margin-top: 10%;
  color: aliceblue;
  text-shadow: 3px 3px 8px black;
}
#homeJumbo{
  background-color: transparent;
}
a{
color: purple;
font-size: 25px;
}
